h1 {
    text-shadow: 1px 1px 3px palevioletred,
                 -1px -1px 3px paleturquoise;
}

#box {
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.392);
    box-shadow: 1px 1px 3px black;
}